<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Add your package sources here -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="cerberix" value="https://nuget.pkg.github.com/cerberix/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <cerberix>
      <add key="Username" value="orgs/cerberix" />
      <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
    </cerberix>
  </packageSourceCredentials>  
</configuration>